@import "./variables";
@import "./mixins";
@import "./helpers";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Dubai";
  src: url("../fonts/Dubai-Bold.ttf");
  src: url("../fonts/Dubai-Medium.ttf");
  src: url("../fonts/Dubai-Regular.ttf");
  src: url("../fonts/Dubai-Light.ttf");
}

@font-face {
  font-family: "TFArrow";
  src: url("../fonts/TFArrow\ Bold.ttf");
}
html {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

html {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  font-family: Dubai;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 95%;
  // background-color: $warning;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h6 {
  font-size: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

.btn {
  border-radius: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: inherit;
}

#home {
  // font-size: 1.5rem;
  // Header and Banner
  header {
    background: url("/images/Background.png");
    height: 100vmin;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .overlay {
    background-color: rgba(#000000, 0.5);
    height: inherit;
    position: relative;
    nav {
      .nav-brand img {
        width: 3rem;
      }
    }
    .covid-btn {
      position: absolute;
      top: 20%;
    }
    .banner-main-wrapper {
      // background: yellow;
      height: 70vmin;
      @include flexcenter;
      .indicators {
        padding: 0;
        .active {
          background-color: $light;
        }
        li {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 100%;
          border: 2px solid $light;
          margin-bottom: 1rem;
        }
      }
      .text-content {
        width: 100%;
        text-align: center;
        .inner {
          width: 100%;
          max-width: 31.25rem;
          margin: 0 auto;
          h1 {
            font-family: TFArrow;
            font-size: 6rem;
            color: $light;
            font-weight: 900;
            line-height: 5.5rem;
            letter-spacing: 0.05em;
          }
          .enjoy {
            font-family: Dubai;
            font-size: 2rem;
            color: $light;
            font-weight: 400;
            line-height: 3.4rem;
            letter-spacing: 0.05em;
            margin-top: 2.75rem;
          }
          .line {
            height: 2px;
            background-color: $light;
          }
          .welcome {
            font-family: Dubai;
            font-size: 3rem;
            color: $light;
            font-weight: 400;
            line-height: 5rem;
          }
        }
      }
    }
  }

  .mobile-nav {
    background: rgba($color: #000000, $alpha: 0.9);
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: inherit;
    display: block;
    ul {
      margin-top: 2rem;
    }
    transition: 1s all ease-out;
  }

  .show {
    display: block;
    transition: 1s display ease-out;
  }

  .hide {
    display: none;
    width: 0;
    transition: 1s all ease-out;
  }

  // Room Intro
  .room-intro {
    .btn {
      font-weight: bold;
    }
    .left {
      display: flex;
      align-items: center;
    }
    .right {
      width: 100%;
      img {
        width: 100%;
        max-width: $sm;
        height: 100%;
      }
    }
    @media screen and (min-width: 768px) {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }

  // Offering
  .offering {
    font-size: 1rem;
    .item {
      margin-bottom: 1rem;
      img {
        width: 100%;
        // max-width: 340px;
      }
      .btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        p {
          margin: 0;
          padding: 0;
          font-weight: bold;
        }
      }
    }
    @media screen and (min-width: 768px) {
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
  }

  .gallery {
    margin-top: 5rem;
    .text-center {
      h5 {
        font-family: Dubai;
        font-size: 1.5rem;
        // color: #1515;
        font-weight: 500;
        line-height: 47px;
        letter-spacing: 0.05em;
      }
      .slide {
        img {
          width: 100%;
          max-width: 800px;
          height: 100%;
          max-height: 500px;
        }
      }
    }
  }

  // Facilities
  .facilities {
    margin-top: 5rem;
    .item {
      text-align: center;
      img {
        width: 100%;
        // max-width: 380px;
      }
    }
    @media screen and (min-width: 768px) {
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
      }
    }
  }

  // Message
  .message {
    .wrapper {
      .text-content {
        font-family: Dubai;
        font-size: 1.3rem;

        font-weight: 300;
        line-height: 3.125rem;
        letter-spacing: -0.05em;
        .name {
          font-family: TFArrow;
        }
      }
    }
    .left {
      img {
        text-align: center;
      }

      @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 50%;
        position: relative;
        img {
          position: absolute;
          top: 20%;
          left: 20%;
        }
        // flex: 1;
        // max-width: 500px;
      }

      img {
        width: 100%;
        max-width: 200px;
      }
    }
    .right {
      flex: 1;
      align-self: center;
    }
  }

  // Contact section
  .contact-us {
    padding: 2rem 0;
    background: url("/images/contact-bg.png") no-repeat;
    background-size: cover;
    background-position: center;

    .form-wrapper {
      width: 100%;
      max-width: 600px;
      margin: auto;
      .btn {
        font-size: 1rem;
        margin: 2rem 0;
      }
    }
  }

  // Footer section
  .footer {
    font-size: 0.875rem;

    .footer-socials {
      display: flex;
      justify-content: flex-end;
      ul {
        display: flex;
        li {
          background-color: $dark;
          height: 3rem;
          width: 3rem;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          color: $light;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: $light;
            color: $dark;
          }
        }
      }
    }
    .footer-wrapper {
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;

        .logo-part {
          width: 100%;
          max-width: 35rem;
          display: flex;
          align-items: flex-start;
          img {
            margin-right: 1.7rem;
          }
        }

        .about-part {
          ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 0.5rem;
          }
        }
      }
    }
  }
}
